language: python 
  - "2.7"
env:
  global:
    - secure: "fpXNG1WC1YvVwG4SpnBumaQB6UaLZzRAqw6XDpbkXAemWZPImRdNgwRATUJZtLQvSdMVsZY0tPfoJidXH4GBHniAZNKzo7gCmkLt72RM+iCcEnv2eG9OEvdxIOTcLZ0ntKiMCk1fAl3k5o0sczKOvhH4zwy9oo9I1RJDeJlxG0HW0ZFVxrlKp/adG+PaRpfFjvPkMGbIDwOvqSJBHRuInRDGjzhSAI3EHyv4fw9RIIrswkbpSCiuFvN59la8m5gxWYZhLtcN29TMs4MGDxI1EbL3HwXskw1V9pGox+outjmN8rjk+t83ll8IMGo1tr7PTvutd86RXsqI49DYmQzN4FW5t/suuCQv13XuK8XAAGzmsArvEiI8U3Uhku4mQu0sihchcva2P1EZaohY7iV70c8Mc+kmJfaKeU1P83beSzqR/fF4dR+SuKAD+ym8w4MylVbXjnkZ3eNkDX4HpJdPN92BLQfnh9AOUJ2OFcPHQxTTKnncPr1l4CwWKrp3GEb+cFhoD7qbE3QbYjek73lTFZpLsvfabrywkLcTdzGsCtnOVAE94hFR+00nEh6rln9kwiy2DL1/xW40MQNYq3+mHuNXZo6ye4ayLvqPxFCKeawqC31FF4j+5fgZ7SlHoiKR/iWa3jFQPNOBNkxdYXm998mbAcj0IKoovVtgtfqkRn4="
  warnings_are_errors: false
install:
  - pip install --user -q -r requirements.txt
script:
  - sphinx-build -b html -d build/doctrees source build/html
after_success:
  - bash deploy.sh
